body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f9;
}

#container {
    text-align: center;
    width: 60%;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

#startButton {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#startButton:hover {
    background-color: #45a049;
}

#gameContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#timer {
    font-size: 24px;
    margin-bottom: 20px;
}

body #timer {
   position: fixed;
   align-self: baseline;
}

.circulo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red; /* Color de fondo del círculo */
    border-radius: 50%;
}

.circulo div {
    position: absolute;
    color: black; /* Color de los números */
    font-size: 20px; /* Tamaño de los números */
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}
@media (max-width: 700px) {
    #container {
        width: 90%; /* Ajuste el ancho para que el contenedor ocupe más espacio en móvil */
        padding: 15px; /* Reducir padding para evitar que el contenido se vea comprimido */
    }

    #startButton {
        padding: 8px 16px;
        font-size: 14px; /* Ajustar tamaño de fuente en botón */
    }

    #timer {
        font-size: 20px; /* Ajustar tamaño de fuente del temporizador */
        margin-bottom: 15px; /* Reducir el margen inferior */
    }

    .circulo {
        width: 80px; /* Tamaño menor para el círculo en móvil */
        height: 80px;
    }

    .circulo div {
        font-size: 16px; /* Reducir el tamaño de los números en el círculo */
    }
}